/BonusTile.class
/CanEscape.class
/ClosestAccessibleTileToEnemy.class
/DangerousTile.class
/DestroysWall.class
/FarTile.class
/GoodPotentialTile.class
/LocksEnemy.class
/MalusTile.class
/ThreatToEnemy.class
