/BombRangeEnough.class
/DangerDegree.class
/Distance.class
/DistanceBomb.class
/DistanceTriangle.class
/EmptyNeighbour.class
/EnemyProximity.class
/ExistenceBomb.class
/FireField.class
/FireTime.class
