/AttaqueBestPertinence.class
/AttaqueItemVisible.class
/AttaquePertinence.class
/AvancePertinence.class
/CaseVidePertinent.class
/CollectePertinence.class
/Duree.class
/NbrAdjacentMurs.class
/NonConcurrence.class
/Securite.class
/malusDanger.class
