/AttackControl.class
/BombExplosionTime.class
/Concurrence.class
/DestWallDist.class
/Distance.class
/ItemLocation.class
/NbDestWall.class
/Threat.class
/ThreatEnnemy.class
/WallToReachEnnemy.class
/ZoneWall.class
